*{
}

h1 {
  color: wheat;
  font-size: 2vh;
}

body {
    background-color: darkgray;    
    background-image: url(https://cdn.pixabay.com/photo/2024/05/09/21/17/ai-generated-8751854_1280.png);
    background-size: cover;
    color: darkred;
    font-size: 3vh;
    font-family: "MedievalSharp", serif;

}


main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-weight: bolder;
  font-size: 7vh;
  margin-bottom: 0;
  color: darkred;
  text-align: center;
}

.icon{
  display: block;
  font-size: ;
  width: 10vh;
}

#dagronImg {
  margin-top: 5%;
  width: 30%;

}
#playerOptions{
  align-self: flex-end;
  margin: auto;
  display: flex;
  gap: 1vh;
}

button{
  background-color: rgb(65, 29, 9);
  color: wheat;
}

article{
  width: 50vw;
}


.tg-wrap th {
  border: solid black .5vh
}

td{
  font-size: 5vh;
}

tbody tr td {
  text-align: center;
}